@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: #FFCC00 !important; /* NatGeo Yellow */
  color: black !important;
  font-weight: 600;
  border: none !important;
}

button:hover {
  background-color: #ffd633 !important;
}

button:disabled {
  background-color: #999999 !important;
  color: #333333 !important;
}
